spring:
  datasource:
    hikari:
      jdbc-url: "jdbc:postgresql://localhost:5432/rest_api_advanced_database_dev"
      maximum-pool-size: 10
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres